## SUPABASE DB 
SUPABASE_KEY=<SUPABASE_KEY>
SUPABASE_URL=<SUPABASE_URL>

## BACKEND:
API_BASE_URL=<API_BASE_URL>

## AI
AI_API_KEY=<AI_API_KEY>
AI_API_URL=<AI_API_URL>

## TESTING VALUES
TEST_USER_EMAIL=<TEST_USER_EMAIL>
TEST_USER_PASSWORD=<TEST_USER_PASSWORD>